<style lang='sass'>

</style>

<template>

</template>
<script>

    export default {

        created() {
            console.log(this.$http.options.root);
            this.$http.get('quote').then((response) => {
                this.quotes = response.json()
            }, () => {
                console.log(error);
            });
        },

        data() {
            return {
                phone: '',
                email: '',
                quotes: []
            }
        },

        methods: {
            submitForm() {
                this.$http.post('quote',
                        {phone: this.phone, email: this.email}
                ).then((response) => {
                    response.status;
                    response.statusText;
                }, () => {
                    console.log(error);
                });
            },
        },
    }



</script>